/* Ensure no default margin or padding on body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* Hero Section Styling */
  .hero-section {
    background: url('/public/bg.png') no-repeat center center/cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    text-align: left;
    padding: 0;
    margin: 0;
  }
  
  .hero-content {
    margin-left: 40px;
    max-width: 600px;
    padding-left: 20px;
  }
  
  .hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .hero-buttons {
    margin-top: 20px;
  }
  
  .hero-buttons .book-now,
  .hero-buttons .view-offers {
    background-color: #460e05;
    border: none;
    padding: 10px 20px;
    color: white;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .hero-buttons .book-now:hover,
  .hero-buttons .view-offers:hover {
    background-color: #460e05;
  }
  